<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="CodeChallenge.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="CodeChallenge.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
</head>
<div id="app">

    <div class="container">
      
      <div class="row mb-5">
      
        <div class="col-sm-12">
            
            <h1>WP REST API: Example for Interview</h1>
          
          <p>Pull the oldest 12 OER's from Collection.BCcampus.ca</p> <p>Using the <a href="https://developer.wordpress.org/rest-api/">WP REST API</a> and <a href="https://vuejs.org/">Vue.JS</a>.</p>       
        </div>
        
      </div>
    
      <div class="row">
        
        <div class="col-md-4 mb-5 push-md-8">
        
          <div class="sticky-top card">
            
            <div class="card-block">
  
              <h6>Websites:</h6>
  
              <div class="form-check" v-for="source in sources">
  
                <label>
  
                  <input type="checkbox" name="{{source.name}}" v-model="source.on"/>
  
                  {{source.name}}
  
                </label>  
  
              </div>
              
            </div>
              
          </div>
        
        </div>
      
        <div class="col-md-8 p-0 pull-md-4">
    
          <div class="container" v-for="source in sources">
  
            <div class="row">
  
              <div class="container" v-show="source.on" >
  
                <div class="row mb-5" v-for="post in source.posts">
  
                  <div class="col-md-12">
  
                    <h4 v-html='post.title.rendered'></h4>
  
                    <h5 class="text-muted">Published {{post.date | prettyDate}} on {{source.name}}</h5>
                    
                  </div>
  
                  <div class="col-md-12">
  
                    <div v-html='post.excerpt.rendered'></div>
  
                    <div class="text-right">
  
                      <a v-bind:href="post.link" target="_blank">Keep Reading</a>
  
                    </div>
  
                  </div>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
        
      </div>
      
    </div>
  
  </div>
